<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/falcon9">Falcon 9</a></li>
      <li><a href="/starship">Starship</a></li>
      <li><a href="/dragon">Dragon</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
</header>
